---
layout: default
title: Home
cover: false
---

<!-- <header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}/feed.xml">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
 -->

<main id="content" class="content" role="main">

    <article class="post">
        
        <section class="post-content">
            
            <p><strong>Hi!</strong>, I&#8217;m <a href="/about/">Joost Plattel</a>, a <em>data-strategist</em>. I help organizations and individuals develop strategies for data-related questions and opportunities. I create experimental models, data visualizations and dashboards based on feedback-loops and experiences. The questions I try to answer are:</p>
            
            <blockquote>
                How do we use all the data generated every second? How do we turn it into information, to knowledge and finally wisdom?
            </blockquote>

            <p>I'm often asked to give lectures and talks about data, experiments, ethics and difficult or weird questions to make people think. If you're interested:</p>

            <div class="action-links">
                <a href="/speaking/book/" class="action-button orange">Book me as a speaker</a>
                <a href="/contact/" class="action-button">Want to grab a coffee?</a>
            </div>          
        
            <p>I&#8217;m the founder of a little startup called <a href="http://qount.us/">Qount.us</a>, a dashboard for companies to gather insights into the health of employees and create a culture around well-being. And I run a monthly newsletter curated with <a href="http://curious.jplatte.nl">curious corners from the internet</a>, you can signup below:</p>

            <!-- Begin MailChimp Signup Form -->
            <div class="mailchimp-group">
            <form action="//jplattel.us2.list-manage.com/subscribe/post?u=e8988497f61d90c8fc52a5529&amp;id=0eac8a87c0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                
                <div class="mc-field-group">
                    <input type="email" value="" placeholder="email@email.com" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    

                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e8988497f61d90c8fc52a5529_0eac8a87c0" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>

            <!--End mc_embed_signup-->
                    
            <p>Otherwise I'm spending my time longboarding, brewing beer, reading science fiction, long-distance-walking or helping out as a <a href="http://metaalkathedraal.nl/">cardinal</a>.</p>
        </section>
        
    </article>

    <!-- Capser below -->
<!--     <article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
    </article> -->
    <!--  -->

</main>
