{{ define "main"}}
<div id="archive">
  <h1>💡 Projects</h1>

  <div class="project-list">
    {{ $pages := (where .Site.RegularPages "Section" "in" (slice "project")) }}
    {{ range $idx, $item := (sort $pages ".Params.year"  "desc") }}

    <a href="{{ .Permalink }}" class="project-link">
      <div class="project-item">
        <h3>
          {{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}

          {{ if .Params.archived }}<i style="float: right; font-size: 10px">(archived)</i>{{ else }}{{ end }}
        </h3>
        <img class="project-image {{ if .Params.archived }}archived{{end}}" src="{{ path.Join "img/" .Params.image_preview | absURL }}" alt="">
      </div>
    </a>
    {{ end }}
  </div>

  <!-- <ul class="post-list">
  {{ range (where .Site.RegularPages "Section" "in" (slice "project")) }}
    {{ $pageYear := (.Date.Format "2006") }}
    {{ if (ne $pageYear ($.Scratch.Get "year")) }}
    {{ $.Scratch.Set "year" $pageYear }}
    <h2>{{ $pageYear }}</h2>
    {{ end }}
    <li class="post-item">
      <div class="meta">
        <time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</time>
      </div>
      <span>    
        <a class="" href="{{ .Permalink }}">{{ if .Title }} {{ .Title }} {{ else }} Untitled {{ end }}</a>
      </span>
    </li>
    {{ end }}
  </ul> -->
</div>
{{ end }}