@font-face {
    font-family: 'JoostPlattel';
    src: local("JoostPlattel"), url("../lib/JoostPlattel/ttf/Joostplattel-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    font-size: 16px
}
article .highlight {
    padding: 0px
}
article .highlight pre{
    padding: 10px
}

body h1{
    font-family: 'JoostPlattel', sans-serif;
    font-size: 2.3rem;
}

body h2{
    font-family: 'JoostPlattel', sans-serif;
    font-size: 2rem;
}

body h3{
    font-family: 'JoostPlattel', sans-serif;
    font-size: 1.7rem;
}

body h4{
    font-family: 'JoostPlattel', sans-serif;
    font-size: 1.4rem;
}

body h5{
    font-family: 'JoostPlattel', sans-serif;
    font-size: 1.1rem;
}

body h6{
    font-family: 'JoostPlattel', sans-serif;
    font-size: 0.9rem;
}

.post-item{

}
.post-item a{
    font-size: 15px;
}

section{
    margin-top: 30px;
}

#header #nav{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 1rem;
    color: #383838;
}
#header #nav ul li {
    border-right: 1px dotted;
    border-color: #383838;
}

#header #nav ul li a {
    color: #383838;
    
}
#header #nav ul li a:hover{
    color: #006ad4;
    background-image: none;
    text-decoration: underline;
}

img.profile-image{
    float: right;
    width: 145px;
    margin-left: 20px;
    display: block;
    border-radius: 10px;
}

figure.profile-image{
  float: right;
  margin: 0px
}
figure.profile-image img{
    float: right;
    width: 145px;
    margin-left: 20px;
    display: block;
    border-radius: 10px;
}

.project-list{
    column-count: 2;
    column-gap: 20px;
    column-fill: balance;
}

.content .project-list a.project-link{
    display: block;
    width: 100%;
    border-bottom: 0px;
    background-image: none;
    break-inside: avoid;
    margin-bottom: 20px;
}

.project-item{
    border: 1px solid #bbb;
    border-radius: 6px;
    display: block;
    width: 100%;
    break-inside: avoid;
    page-break-inside: avoid;
}

.project-item h3{
    color: #383838;
    display: block;
    margin: 0px;
    padding: 10px
}
.project-item img{
    display: block;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.project-item .webring{
    text-decoration: underline;
    margin: 0px;
}
.project-item .webring-links{
    display:block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 6px;
    margin: 0px;
    width: 100%;
}
.project-list .project-item a.webring:hover{
    background-color: white;
}

.project-list .project-image.archived {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.project-image{
    width: 100%;
    height: auto;
    display: block;
}

.client-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.client-item{

}

.client-item a{
    background-image: none
}
.client-item a:hover{
    background-image: none
}

.client-image{
    width: 100%;
    filter: grayscale(100%);
}
.client-logo-single{
    float: right;
    width: 100px;
}

@media screen and (max-width: 768px) {
    .project-list {
        column-count: 1;
    }
}

@media screen and (max-width: 600px) {
    .client-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px){
    header#header #nav ul li.icon{
        right: 0
    }
    header#header #nav ul li.icon a{
        margin-right: 0px
    }
    header#header #nav ul li{
        border: 0px;
        margin-right: 0px
    }
}

