<!-- TODO -->
<link rel="icon" type="image/png" href="{{ "icon/favicon.ico" | absURL }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/icon/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/icon/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/icon/favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "/icon/site.webmanifest" | absURL }}">
<link rel="mask-icon" href="{{ "/icon/safari-pinned-tab.svg" | absURL }}" color="#5bbad5">