{{ define "main"}}
<section id="clients">
    
    <h2>💼 Professional clients</h2>

    <p>
        My <a href="/client">clients</a> vary from small startups to goverments and everything in between. 
        People recommend me for my unique combination of <i>curiousity</i> and <i>applied solutions</i>. Have a look too see who I've worked with and why.
    </p>

    <div class="client-list">
        {{ range (where .Site.RegularPages "Section" "in" (slice "client")) }}
        <div class="client-item">
            <a href="{{ .Permalink }}">
                <img class="client-image" src="{{ path.Join "img/" .Params.image_preview | absURL }}" alt="{{- .Title -}} {">
            </a>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}